<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/common.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>